{% extends 'portfolio/base.html' %}

{% block content %}
<section class="about-section">

    <div class="about-text">
        <h1>About Us</h1>

        <p>
            Hi! I’m <strong>UNNIKRISHNAN</strong>, a passionate photographer with over 6+ years of 
            experience capturing life’s most beautiful moments. I specialize in portrait, nature, 
            and lifestyle photography, bringing creativity and emotion into every shot. My goal is to 
            tell stories through images and create memories that last a lifetime.
            <br><br>
            Over the years, I’ve worked with clients ranging from individuals and families to 
            brands and events, always focusing on quality and artistic expression.
        </p>
    </div>

</section>
{% endblock %}