{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Capture</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">Dream Capture</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/gallery/">Gallery</a>
            <a href="/services/">Services</a>
            <a href="/contact/">Contact</a>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<footer>
    <h3>Dream Capture</h3>
    <p>Capturing emotions, stories and unforgettable memories.</p>
    <div class="social-icons">
        <a href="#"><i class="fas fa-camera-retro"></i></a>
        <a href="#"><i class="fas fa-image"></i></a>
        <a href="#"><i class="fa-solid fa-photo-film"></i></a>
        <a href="#"><i class="fas fa-film"></i></a>
        <a href="#"><i class="fa-solid fa-clapperboard"></i></a>
    </div>
    
</footer>

<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
<script>
const lightbox = GLightbox({
    selector: '.glightbox'
});
</script>

</body>
</html>