{% extends 'portfolio/base.html' %}

{% block content %}
<section class="page-section">
    <h1>Contact Us</h1>

    <p>
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:nanisatish1998@gmail.com">
            nanisatish1998@gmail.com
        </a>
    </p> <br>

    <p>
        <i class="fa-solid fa-phone"></i> 
        <a href="tel:+919553603761">
            +91 95536 03761
        </a>
    </p> <br>

    <p>
        Location:
        <a href="https://www.google.com/maps/search/Tenali,+Andhra+Pradesh" target="_blank">
            Tenali, Andhra Pradesh
        </a>
    </p> <br>

    <p>
        <i class="fa-brands fa-instagram"></i>
        <a href="https://www.instagram.com/dc_weddings5" target="_blank">
            dc_weddings5
        </a>
    </p>
</section>>
{% endblock %}