{% extends 'portfolio/base.html' %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <a href="/gallery/" class="btn">View Moments</a>

        <h2>
            Capturing moments that last forever...
        </h2>

        
    </div>
</section>

<section class="highlights">

    <div class="card">
        
        <h3>Birthday Shoot</h3>
        <p><del>₹35,000</del> <strong>₹25,000</strong></p>
    </div>

    <div class="card">
        <h3>PreWedding Shoot</h3>
        <p><del>₹60,000</del> <strong>₹40,000</strong></p>
    </div>

    <div class="card">
        
        <h3>Engagement Shoot</h3>
        <p><del>₹70,000</del> <strong>₹59,000</strong></p>
    </div>

</section>
{% endblock %}