{% extends 'portfolio/base.html' %}

{% block content %}
<section class="page-section">
    <h1>Photography Style & Skills</h1>
    <div class="service-box">
        <div class="card"><h3>Wedding Photography & Baby Shoots</h3></div>
        <div class="card"><h3>Candids & Cinematography</h3></div>
        <div class="card"><h3>Portraits & Lifestyle</h3></div>
        <div class="card"><h3>Nature & Landscape Photography</h3></div>
        <div class="card"><h3>Composition & Storytelling</h3></div>
        <div class="card"><h3>Photo Editing (Lightroom & Photoshop)</h3></div>
    </div>
</section>
{% endblock %}